# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variable files
.env
.env.*
!.env.example

# Secrets
**/secrets/
**/*.key
**/*.pem

# Logs
**/*.log

# Temporäre Dateien
**/.cache/
**/tmp/

# Exclude services directory (contains sensitive information and is not needed in the repository)
services/
