# renovate: depName=dperson/samba datasource=docker
[Unit]
Description=Samba File Sharing
After=network-online.target

[Container]
Image=docker.io/dperson/samba:latest
ContainerName=samba
Network=host
Volume=/mnt/nas/shared:/shared:z
Volume=/mnt/nas/media:/media:ro,z
EnvironmentFile=%h/config/quadlets.env
Environment=USER=${SAMBA_CREDS}
Environment=SHARE=shared;/shared;yes;no;no;homelab
Environment=SHARE2=media;/media;yes;no;yes
Environment=WORKGROUP=WORKGROUP
Environment=TZ=Europe/Zurich
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
